@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Westwood Sans';
  src: local('Westwood Sans'),
    url('../assets/WestwoodSans-Regular.ttf') format('truetype');
}

$title-font: 'Fredoka One', sans-serif;
$body-font: 'Reem Kufi', sans-serif;

body {
  // font-size: 15vw;
  font-family: $body-font;
  margin: 0;
}

h1 {
  margin: 0;
}

.frame {
  display: grid;
  grid-template-columns: 32% auto;
  min-height: 100vh;
}

.image {
  background-image: url('../assets/background.png');
}

// Swatches
.swatches {
  display: flex;
  gap: 2vw;
  justify-content: center;
}

.level-content {
  width: 100%;
}
