@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Westwood Sans';
  src: local('Westwood Sans'),
    url('../assets/WestwoodSans-Regular.ttf') format('truetype');
}

$title-font: 'Fredoka One', sans-serif;
$body-font: 'Reem Kufi', sans-serif;

body {
  // font-size: 15vw;
  font-family: $body-font;
  margin: 0;
}

h1 {
  margin: 0;
}

.frame {
  display: grid;
  grid-template-columns: 32% auto;
  min-height: 100vh;
}

.image {
  background-image: url('../assets/background.png');
}

// Swatches
.swatches {
  display: flex;
  gap: 2vw;
  justify-content: center;
}

#level-ten .swatches {
  gap: 1vw;
}

.level-content {
  width: 100%;
}

// Other levels
.title2 {
  font-size: calc(15px + 0.75vw);
}

.input {
  border: 0;
  border-radius: 5px;
  font-family: $title-font;
  font-size: calc(15px + 0.75vw);
  margin: 10px 0;
  margin: 0 0.5vw;
  padding: 0.25vw;
}

#level-eight .input {
  text-align: center;
  width: 4.5vw;
}

.input-container {
  font-family: $title-font;
  font-size: calc(15px + 0.75vw);
}

.colors {
  display: flex;
  flex-flow: row wrap;
  gap: 1vw;
  justify-content: center;
  margin-bottom: 2vw;
}

.single-color {
  border-radius: 50%;
  height: 6vw;
  width: 6vw;
}

.single-color:hover {
  cursor: pointer;
}

.swatch-choose:hover {
  cursor: pointer;
}
