@import 'global';

#landing-title {
  color: white;
  font-family: $title-font;
  font-size: 15vw;
}

#landing {
  align-items: center;
  background-image: url('../assets/BG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.landing-button {
  border: solid 2px white;
  border-radius: 3vw;
  font-family: $title-font;
  font-size: calc(10px + 1vw);
  padding: 0.4vw 3.5vw;
  text-decoration: none;
  width: fit-content;
}

.landing-button:hover {
  cursor: pointer;
  // box-shadow: 5px 5px 13px -3px #000000;
}

#landing-button-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 1.75vw;
  height: fit-content;
  justify-content: center;
  padding: 1vw 0 5vw;
}

#landing-start {
  background-color: white;
  color: black;
  mix-blend-mode: screen;
}

#landing-instructions {
  background-color: transparent;
  color: white;
}
