@import 'global';

.level-select-button {
  color: white;
  font-size: 7px;
  padding: 0 10px;
  text-decoration: none;
}

.sidebar {
  align-items: center;
  background-image: url('../assets/sidebar_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 3vw;
  text-align: center;
}

.sidebar-title {
  font-family: $title-font;
  font-size: calc(18px + 1vw);
}

.level-select {
  font-size: calc(5px + 0.5vw);
  margin-top: 0.75vw;
}

.next {
  background-color: white;
  border-radius: 3vw;
  color: black;
  font-family: $title-font;
  font-size: calc(10px + 0.5vw);
  mix-blend-mode: screen;
  padding: 0.6vw 2vw;
  text-decoration: none;
  width: fit-content;
}
