@import 'global';

.swatch {
  background-color: white;
  border-radius: 7px;
  color: #8c8c8c;
  // font-family: 'Roboto';
  font-size: calc(7px + 0.5vw);
  line-height: 1.75em;
  padding: 1vw 1.5vw;
}

.swatch-color {
  // width: 100%;
  border-radius: 50%;
  height: 6vw;
  margin-bottom: 0.75vw;
  // margin: 0 auto;
  // padding: 1vw;

}
