@import 'global';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$title-font: 'Fredoka One', sans-serif;

.swatch {
  align-items: center;
  // justify-content: center;
  background-color: white;
  border-radius: 7px;
  color: #8c8c8c;
  display: flex;
  flex-flow: column wrap;
  // font-family: 'Roboto';
  font-size: calc(7px + 0.5vw);
  line-height: 1.75em;
  min-width: 7.5vw;
  padding: 1vw 1.5vw;
  width: fit-content;
}

#level-ten .swatch {
  min-width: inherit;
  width: fit-content;
}

.swatch-color {
  border-radius: 50%;
  height: 6vw;
  margin-bottom: 0.75vw;
  width: 6vw;
}

.swatch-hex {
  text-transform: uppercase;
}

.swatch-mystery {
  color: #fe7d9b;
  font-family: $title-font;
  font-size: calc(10px + 5vw);
  height: 6.75vw;
  // margin-bottom: 20%;
  line-height: normal;
}

.single {
  margin: 2vw 0;
}
